{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 80,
  "importOrder": [
    "^react$",
    "^(.*)react(.*)$",

    "^((?!(@)|(cv)|(ui)|(react)).*)$",

    "^@((?!(cv)|(ui)).*)$",

    "views",
    "(@.*|^)views/(.*)$",

    "containers",
    "(@.*|^)containers/(.*)$",

    "components",
    "(@.*|^)components/(.*)$",

    "assets",
    "(@.*|^)assets/(.*)$",

    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
